/**
    app name pd-spannouncements
 */
 .hidden {
	display:none;
}
/********************announcement section***************************************/
.selectControl:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.selectControl div {
	float:right;
	padding: 0 55px 15px 0;
}
.announcements {
  border:0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #5a5b5b;
  height: 580px;
  overflow-y: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.announcements .announce {
  border-bottom: 1px solid #0072c6;
  padding: 5px 10px;
}

.announcements h1.title {
  font-size: 1.4em;
  margin: 0;
  font-weight:700;
}
.announcements h2.department {
  font-size: 1.2em;
  margin: 0 0 5px 0;
}
.announcements .body {
  font-size: 1.1em;
  margin: 0;
}
.announceContainer .annFilterLabel {
  margin-right: 10px;
}